@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-surface: #272726;
  --color-accent: #ed5ae9;
  --font-sans: "IBM Plex Sans", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-background);
  color: #ffffff;
  font-family: var(--font-sans);
}
